@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 43, 35, 51;
  --background-end-rgb: 36, 31, 41;
}

a {
  color: #84b7f4;
  transition: opacity 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
