body,html {
  background-color: #fff;
  font-family: Helvetica Neue;
  color: #424242;
  width: 100%;
  height: 100%;
}

a {
  color: #dc7878;
}

body.light {
  background-color: #fff;
}

body.dark {
  background-color: #282929;
  color: #eee;
}

li {
  list-style-type: none;
  font-weight: 200;
}

.page-wrap {
  padding: 16px 24px;
}

.home-heading {
  font-size: 54px;
  font-weight: 100;
  text-align: left;
  padding-bottom: 4px;
  display: inline-block;
  border-bottom: 3px solid #dc7878;
  margin-bottom: 16px;
}
